body {
    margin: 0;
    overflow-x: hidden;

}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Description */

.description_main {
    margin-top: 25px;
    padding: 20px;
}

.description_pay {
    color: darkgray;
}

/* Footer */

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_link {
    font-size: 20px;
    text-decoration: none;
}

/* Payment */

.payment_container {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
}

.payment_avatar, .notpassed_avatar {
    text-align: center;
    margin-top: 40px;
    padding: 40px;
}

.payment_phone, .payment_money, .passed_avatar {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    border-radius: 12px;
    transition: linear 0.15s;
}

.payment_money {
    display: flex;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 12px;
    transition: linear 0.15s;
}

.payment_phone, .payment_money:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.payment_phone, .payment_money:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* Passed */

.passed_avatar {
    display: flex;
    padding: 40px;
    margin: 0 auto;
    width: 80%;
    border-radius: 12px;
    transition: linear 0.15s;
}



/* Media queries */

@media (max-width: 576px) {

    .description_title {
        font-size: 10px;
    }
}

@media (max-width: 450px) {

    .passedTitle {
        color: chocolate;
    }
}