body {
    margin: 0;

}

/* Description */

.description_main {
    margin-top: 25px;
    padding: 20px;
}

.description_pay {
    color: darkgray;
}

/* Footer */

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_link {
    font-size: 20px;
    text-decoration: none;
}

/* Payment */

.container_payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment_avatar {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}